h1{
    text-align: center;
}

h3{
    text-align: center;
}

.centeredContent{
    text-align: center;
}

.leftAlignContent{
    text-align: left;
}

.productPhoto{
    width: inherit;
}

#sourceNaturals{
    width: 60%;
    margin: auto;
}
/*
.productSlot{
    display: inline;
    width: 20%;
    text-align: center;
   
}

.productRow{
    height:100%;
}
*/

.productDiv{
    height: inherit;
}

.tile {  
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;		
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    /*box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background: #dcfca6;*/
    border: none;
}
.tile:hover{
    /*border: 1px solid #dcfca6;
    background: #8cbc65;*/
}
.title {
    margin-top: 0px;
}

#aboutbanner{
    margin-top: 10%;
}

#products{
    margin-top: 10%;
}

#greatHealthImage{
    margin: auto;
}

#imgContainer{
    text-align: center;
}

#bigPhoto{
    margin: auto;
    align: center;
    width:100%;
}

#aboutImage{
    float: right;
}

#photoWithText{
    position: relative;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 2%; opacity: 1; }
    //33.33%, 100% { left: 110%; opacity: 0; }
}

#overlayText{
    color: white;
    font-size: 6em;
    position: absolute;
    top: 82%;
    left: 2%;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    animation-name: anim-1;

}


