body{
    font-family: 'Open Sans', sans-serif !important;
}

ul{
    text-align: left;
}

h2{
    text-align: center;
    font-weight: bold !important;
    width: 80%;
    margin: auto;
}

h3{
    text-align: center;
    font-weight: bold !important;
}

h4{
    text-align: left;
    font-weight: bold !important;
}

#aboutRule{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 2px;
    background-color: #333;
}

#addressRule{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 2px;
    background-color: #333;
}

#columbiaCarousel{
    margin: auto;
    width: 70%;
}

.pixelMargin{
    margin-top: 30px;
    margin-bottom: 10px;
}

#locationInfoA{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#locationInfoA p{
    text-align: justify;
}

#locationInfoB{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#learnMore{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    visibility: hidden;
}

#mapDiv{
    background-color: grey;
    width: 90%;
    height: 200px;
    margin: auto;
}
/*.carouselInner{
    
    max-height: 970px;
}*/

/*the following controls the "learn more" slide in*/
.come-in {
    transform: translateY(150px);
    animation: come-in 1s ease forwards;
    visibility: visible !important;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

@media only screen and (max-width: 768px){

    #columbiaCarousel{
        width: 90%;
    }

    h2{
        font-size: 20px !important; 
    }
    
    #locationInfoB{
         
    }
}

@media only screen and (max-width: 425px){
    #locationInfoA{
        width: 100% !important;
    }
}