body{
    font-family: 'Open Sans', sans-serif !important;
}

h1{
    text-align: center;
}

#mapDiv{
    background-color: grey;
    width: 60%;
    /*height: 300px;*/
    padding-top: 30%;
    float: right;
}

.controls{
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 990px){
    #mapDiv{
        width: 100%;
    }
    #locationsDiv{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
        
    }
    #locationsDiv > ul{
        display: inline-block;
        text-align: justify;
    }
}

@media only screen and (max-width: 425px){
    #mapDiv{
        height: 70vw;
    }
}

