body{
    font-family: 'Open Sans', sans-serif !important;
}

h1{
    text-align: center;
}

#messageSuccess{
/*    display: none;*/
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: palegreen;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#mapDiv{
    background-color: grey;
    width: 60%;
    /*height: 300px;*/
    padding-top: 30%;
    float: right;
}

#locationsDiv{
    /*    text-align: center;*/
}

#locationsDiv > ul{
    list-style-position: inside; 
}

#locationsDiv > h4{

}

.controls{
    width: 60%;
    margin: auto;
}

.avoidwrap { display:inline-block; }

@media only screen and (max-width: 990px){
    #mapDiv{
        width: 100%;
    }
    #locationsDiv{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;

    }
    #locationsDiv > ul{
        display: inline-block;
        /*        list-style-position: inside;
                text-align: center;*/
    }
}

@media only screen and (max-width: 768px){
    h2{
        font-size: 20px !important; 
    }
}

@media only screen and (max-width: 425px){
    #midwayCarousel{
        width: 90%;
    }
    
    #locationInfoA{
        width: 90% !important;
    }
    
    #locationInfoB{
          width: 90% !important;
    }
    
    #mapDiv{
       height: 70vw;
    }
}