html{
    
}

body{
    
}

.container-fluid{
  
}

.row{
    height: 100%;
}

#header{
    height: 10%;
}

#locations{
    background-color: salmon;
    height: 70%;
}

.locationTitle{
    margin: auto;
    width: 50%;
}

#storeLogo{
    margin: auto;
    width: 50%;
    /*padding: 10px;*/
}

#footerInfo{
    margin:auto;
    width: 50%;
    text-align: center;
}