/*#backgroundImg{
    width: 100%;
    height: 100%;
};*/
h3{
    text-align: center;
}

#photoWithText{
    text-align: center;
    padding: 50px;
    background-image: url("../images/UK-medicines-regulator-slams-door-on-herbal-food-supplements.jpg");
}

#midwayImage{
    margin: auto;
    width: 60%;
    height: 60%;
}

