/*#backgroundImg{
    width: 100%;
    height: 100%;
};*/
body{
    font-family: 'Open Sans', sans-serif !important;
}

ul{
    text-align: left;
}

h3{
    text-align: center;
    font-weight: bold !important;
}

h4{
    text-align: left;
    font-weight: bold !important;
}

#aboutRule{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
    height: 2px;
    background-color: #333;
    width: 245px;
}

#addressRule{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
    height: 2px;
    background-color: #333;
    width: 120px;
}

h3 > hr{
    border: none;
    height: 2px;
    background-color: #333;
    width: 120px;
}

.productPhoto{
    margin: auto;
    width: 60%;
    height: 60%;
}

.pixelMargin{
    margin-top: 30px;
    margin-bottom: 30px;
}

#locationBanner{
    text-align: center;
    height: 75px;
    width: 50%;
    margin: auto;
    background-color: #8cbc65;
    color: white;
    border-radius: 10px;
    /*background: linear-gradient(to right, rgba(255,0,0,0), #8cbc65);*/
}

#photoWithText{
    text-align: center;
    padding: 50px;
    background-image: url("../images/UK-medicines-regulator-slams-door-on-herbal-food-supplements.jpg");
}

#midwayImage{
    margin: auto;
    height: 60%;
}

#midwayCarousel{
    margin: auto;
    width: 70%;
}

#locationInfoA{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#locationInfoA p{
    text-align: justify;
}

#locationInfoB{
    margin-top: 30px;
    text-align: justify;
}

#learnMore{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#mapDiv{
    background-color: grey;
    width: 90%;
    height: 200px;
    margin: auto;
    /*    margin-left: 0;*/
}

#backgroundImage { 
    /* The image used */
    background-image: url("/Users/kylecaaspers/Desktop/Repos/
        Kyle-s-Repository/GreatHealthWebsite/src/main/webapp/
        images/UK-medicines-regulator-slams-door-on-herbal-food-supplements.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px){

    #locationInfoB{
/*        width: 60%;
        margin: auto;*/
    }
    
    
}