/*#backgroundImg{
    width: 100%;
    height: 100%;
};*/
h3{
    text-align: center;
}

.productPhoto{
    margin: auto;
    width: 60%;
    height: 60%;
}

#locationBanner{
    text-align: center;
    height: 75px;
    width: 50%;
    margin: auto;
    background-color: #8cbc65;
    color: white;
    border-radius: 10px;
    /*background: linear-gradient(to right, rgba(255,0,0,0), #8cbc65);*/
}

#photoWithText{
    text-align: center;
    padding: 50px;
    background-image: url("../images/UK-medicines-regulator-slams-door-on-herbal-food-supplements.jpg");
}

#midwayImage{
    margin: auto;
    width: 60%;
    height: 60%;
}

#locationInfoA{
    text-align: center;
}

#mapDiv{
    background-color: grey;
    width: 100%;
    height: 200px;
    margin: auto;
}

#backgroundImage { 
    /* The image used */
    background-image: url("/Users/kylecaaspers/Desktop/Repos/
        Kyle-s-Repository/GreatHealthWebsite/src/main/webapp/
        images/UK-medicines-regulator-slams-door-on-herbal-food-supplements.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}