

#menulink{
    width: 100%;
    /*width:220px;
    background:#8cbc65;*/
    color:black;
    height:60px;
    line-height:40px;
    text-indent:10px;
    cursor:pointer;
    margin-left: -15px;
}

#menuText{
    font-size: 2em;
    transition:color 0.1s ease;
    padding-top: 15px;
}

#menuText:hover{
    color:#8cbc65;
}

#left-menu{
    width:220px;
    height:100%;
    position:fixed;
    background:#333;
    /*margin-left:-220px;
    margin-top: 20px;*/
    margin-left:-100%;
    top: 61px;
}

#left-menu ul{
    margin:0px;
    padding:10px 0px;
    width:100%;
    list-style:none;
}

#left-menu ul li{}

#left-menu ul li a{
    color:#fff;
    text-decoration:none;
    display:block;
    padding:12px 10px;
    text-transform:uppercase;
    border-bottom:solid 1px #000;
}

#left-menu ul li a:hover{
    background:#000;
}

#logo{
    margin: auto;
    width: 60%;
}

#headerRow{
    /*background-color: #8cbc65;
    padding-bottom: 20px;
    height: 40px;*/
    background: #8cbc65; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #dcfca6, #609b49); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #dcfca6, #609b49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#headerRule{
    margin-bottom: 0px;
}

#pageTitle{
    color: white;
    float: right;
}

@media only screen and (max-width: 425px){
    #pageTitle{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #pageTitle > h3{
        font-size: 18px;
    }
    
    #menuText{
        font-size: 3em;
        padding-top: 21px;
    }
    
    #left-menu{
        top: 79px;
    }
    
}

/*@media only screen and (max-width: 371px){
    #left-menu{
        top: 82px;
    }
}*/