#navDrop{
    margin-top: 5px;
    margin-bottom: 5px;
}
#mainSidebar{
    background-color: lightgoldenrodyellow;
    padding: 20px;
}
#locationDetailsMain{
    visibility: hidden;
}

.type{
    float: left;
}

.value{
    float: right;
}

#locationList {
    height: 200px;
    overflow: scroll;
    margin: 0;
    padding: 0;

    border: 2px solid #ccc;
}
#edit-Location-ID{
    display:none;
}

li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
#selectList:hover{
    background-color: lightgoldenrodyellow;
}
.subHeader{
    text-align: center;
}
#errorMessage{
    display:none;
}