#amp{
    border: 1px solid black;
    padding: 20px;
}
#cabinetModal{
    padding: 30px;
    margin: 30px;
}
#calculatedImpedance{
    visibility: hidden;
}
.displayWhenSpeakers{
    visibility: hidden;
}
#parallelInfo{
    /*text-align: center;*/
}
.speakerCabinet{
    border: #000 solid 1px;
    height: 200px;
    width: 40%;
    margin: 10px;
    text-align: center;
}