ul {
    font-style:italic;
    margin: 20px;
    text-align: center;
    list-style-position:inside;
}
h1,h2 {
font-family: "Baskerville";
text-align:center;
margin: auto;
}
#image {
    width: 400px;
    height: 400px;
    background-image:url("images/Coyotes And Bees.jpg");
    background-size:     cover;    
    margin: auto;
}
#date {
    text-align:center;
    margin-top: 0px;
    margin-bottom: 30px;
}
body {
   
}
table {
    margin-top:30px;
    margin-bottom: 30px;
}
form {
    width: 200px;
    margin: 0 auto;
}
table, td {
    border: solid black 1px;
    padding: 0px 10px 10px 10px;
    border-collapse: collapse;
    vertical-align: top;
}
table {
    width: 30%;
    height: 200px;
}
tfoot{
    text-align:center;
    background-color:lightgrey;
}
thead{
    font-weight: bold;
    background-color:lightgrey;
}
tbody{
    font-style:italic;
}
tbody tr:nth-child(even) {
  background-color: LemonChiffon;
}

tbody tr:nth-child(odd) {
  background-color: LawnGreen;
}
a:link{
text-decoration: none;
}
a:hover{
background-color: thistle;
text-decoration: underline;
}
a:visited{

}