footer{
    background-color: lightgrey;
    width: 800px;
    padding: 50px;
    margin: auto;
    margin-top:50px;
    text-align: center;
}
table, td{
  border: 5px solid salmon;
  border-collapse: collapse;
  border-style: double;
  padding: 4px;
  margin: auto;
  margin-top: 20px;
}
tbody{
  text-align: left;
}
thead{
  font-weight: bold;
}
h1 {
    font-family: cursive;
    font-size: 30pt;
}
a {
  font-family: monospace;
  text-decoration: underline;
  font-weight: none;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: none;
  color: #00c;
  font-weight: bold;
}

a:active {
  font-weight: normal;
  color: lime;
}