footer{
    background-color: lightgrey;
    width: 800px;
    padding: 50px;
    margin: auto;
    margin-top:50px;
    text-align: center;
}
h1 {
    font-family: cursive;
    font-size: 30pt;
}
a {
  font-family: monospace;
  text-decoration: underline;
  font-weight: none;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: none;
  color: #00c;
  font-family: cursive;
}

a:active {
  font-weight: bold;
}